<?xml version="1.0" encoding="UTF-8"?><RuntimeErrorAnalysis><AuthorAffiliation>Community</AuthorAffiliation><Summary>ApplicationContextException</Summary><SampleLogOutput><![CDATA[ApplicationContextException]]></SampleLogOutput><RegExpPattern><![CDATA[ApplicationContextException]]></RegExpPattern><ProblemDetailHtml><![CDATA[Exception thrown during application context initialization.]]></ProblemDetailHtml><SolutionDetailHtml><![CDATA[Common solutions for this exception have not yet been submitted.]]></SolutionDetailHtml><AdditionalResourcesDetailHtml></AdditionalResourcesDetailHtml></RuntimeErrorAnalysis>